<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        This is header. Find me in app/views/layouts/application.html.erb
      </div>
    </header>
    <%= yield %>
    <footer>
      <div>
        This is footer. Find me in app/views/layouts/application.html.erb
      </div>
    </footer>
  </body>
</html>
